* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --max-witdth: 1200px;
    --primary-font: 'Open Sans', sans-serif;
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-md: 16px;

}

/* header style */
.main-header-active {
    position: fixed;
    width: 100%;
    background-color: #000;
    top: 0;
    z-index: 999;
    transition: all 0.3s ease-out 0.2s;
    
}

.page-wrapper {
    max-width: var(--max-witdth);

    margin: 0 auto;

}
.landing-backgorund {
    background-image: url('/asset/image/background-landing.jpeg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
    padding: 14px 0;
   
}

.nav-container .navbar-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-container .navbar-items  li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--font-size-md);
    

}
.navbar-button-container button {
    margin: 0 10px;
    
}
#btn-login {
    background: none;
    border: none;
    color: #fff;
    font-size: var(--font-size-md);
    cursor: pointer;

}
#btn-getstarted-navbar {
    background: #fff;
    border: none;
    padding: 18px 30px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    
}
#btn-getstarted-navbar:hover {
    background-color: #e9e9e9;
}

.hero-text {
    font-family: var(--primary-font);
    margin-top: 50px;
}
.hero-text-title h1 {
    font-size: 40px;
    color: #fff;
    line-height: 50px;
 
}
.hero-text-button button {
    margin-top: 20px;
    background: #fff;
    border: none;
    padding: 18px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;

}
.hero-text-button button:hover {
    background-color: #e9e9e9;
}


/* menubar */
.menubar-icon {
    display: none;
}
.mobile-nav {
    position: absolute;
    left: -100%;
    width: 100%;
    font-family: var(--primary-font);
    background-color: #000;
    padding: 50px 43px;
    max-height: 100vh;
    overflow: auto;
    

}
#mobile-menu-icon  {
    cursor: pointer;
}

#mobile-menu-icon > div {
    width: 28px;
    height: 2px;
  
    margin: 5px 0;
    background: #fff;

}
.active .bar1 {
    transform: rotate(-45deg) translate(-3px,4px);
    transition: 0.25s;
}
.active .bar2 {
    opacity: 0;
}

.active .bar3 {
    transform: rotate(45deg) translate(-7px,-8px);
    transition: 0.25s;
}


.mobile-nav-active{
    left: 0;
    transition: 0.5s;


}

.mobile-nav .navbar-items li {
    list-style: none;
    padding: 15px 0px;
}
.mobile-nav .navbar-items li a {
    text-decoration: none;
    color: #fff;
}
#btn-login-mobile {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

#btn-getstarted-navbar-mobile {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.navbar-subitems {
    margin-top: 20px;
    transition: 5s;
}
.navbar-subitems li a {
    font-size: var(--font-size-sm);
    margin-left: 20px;

}

.navbar-subitems {
    display: none;

}

.navbar-subitems-active {
    display: block;
    color: #fff;
}

/* mega dropdown */
.dropdown-container {
    position: fixed;
    top: 10px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    background-color: #000;
    padding: 0px;
    width: 100%;
    font-family: var(--primary-font);

}
.dropdown-container-active {
    position: fixed;
    height: 100%;
    top: 60px;
    padding: 80px 0;
    margin-top: 29px;
    z-index: 999;
    transition: 0.5s;
}
.dropdown-container .dropdown-row  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.dropdown-items h4 {
    color: #f6f8fa;
    margin-bottom: 15px;
}
.dropdown-items li {
    margin: 14px 0;
}
.dropdown-items li a {
    text-decoration: none;
    color: rgb(206, 199, 199);
    font-family: 9px;

}
.dropdown-items li a:hover {
    text-decoration: underline;
}
/* end mega dropdown */



.fa-angle-down-active {
    transform: rotate(180deg);
    transition: 0.5s;
}
.fa-angle-down-Inactive {
    transform: rotate(0deg);
    transition: 0.5s;
}
/* end header style */
.grow-your-bn-title h1 {
    text-align: center;
    font-size: 9em;
    padding: 28px 0;
    font-family: var(--primary-font);
}

/* all contents goes here */
.steps-content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 50px;
    font-family: var(--primary-font);
}
.steps-content2-title ol{
    list-style: none;

}
.step-list .step-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}
#step-index {
    font-size: 6em;
    padding: 0 25px;
}
.list-content h3 {
    padding: 10px 0;
}
.steps-content2-details #btn-steps a {
    text-decoration: none !important;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.heading-title  {
    color: #fff;
    font-family: var(--primary-font);
    text-align: center;
    line-height: 40px;
}



.online-templates-wrapper {
    background-color: #000;
    padding: 30px 40px;
    
}
.template-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 59px;
    font-family: var(--primary-font);
}
.template-container.template-items {
    list-style: none;
}
.template-container ul li {
   padding: 10px;
}
.template-container ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;

}
.template-container ul li a:hover {
    text-decoration: underline;
}

.template-qoute p {
    color: #fff;

}
.template-footer-decs {
    color: #fff;
 
    margin-top: 50px;
}
.template-footer-decs a {
    color: #fff;
    text-decoration: none;
    margin: 20px 0;

}
/* customer card styles */
.featured-customers-slides-wrapper {
    font-family: var(--primary-font);
}
.featured-customers-slides-title {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.featured-customers-slide-rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 30px 0;
    cursor: pointer;
}
.featured-customers-thumnail img {
    border-radius: 3px;
    margin: 20px 0;
}
#featured-customers-role {
    font-size: 12px;
}
#learn-more-abt-customer {
    text-decoration: none;
    color: rgb(218, 37, 13);
}
#learn-more-abt-customer:hover {
    text-decoration: underline;
}
/* ended customer card styles */

.featured-blog-posts-wrapper {
    font-family: var(--primary-font);
}
.feature-blog-heading-title {
    text-align: center;
    margin: 30px 0;
    font-size: 8em;
}
.featured-blog-post-container .feature-blog-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
#feature-blog-links {
    text-decoration: none;
    color: #000;
}
#feature-blog-links:hover {
    text-decoration: underline;
}
#minaa-b-desc {
    margin-top: 50px;
}
.faq-feature-text-wrapper {
    font-family: var(--primary-font);
}
.faq-feature-heading {
    text-align: center;
    margin: 30px 0;
}
#visit-help-links {
    text-decoration: none;
    color: #000;
    line-height: 100px;

}
.faq-feature-text-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}
.faq-feature-text-cols ul li {
    list-style: none;
    padding: 40px 0;
    border-top: 1px solid rgb(190, 187, 187);
}
.faq-feature-text-cols ul li a {
    text-decoration: none;
    color: #000;
}

/* end all contents css */



/* started footer */
.footer-container {
    background-color: #000;
    padding: 50px 0;
    font-family: var(--primary-font);
}
.footer-row  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
#txt_curency, #txt_lang {
    padding: 10px 20px;
    background: #1a1a1a;
    color: #fff;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}
.footer-row  .column h4 {
    color: #fff;
    margin-bottom: 15px;
}
.footer-row  .column ul li {
    padding: 8px 0;
    list-style: none;
}
.footer-row  .column ul li a {
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: rgb(206, 199, 199);
    
}
.footer-row  .column ul li a:hover {
    text-decoration: underline;
}



/* ended footer */